 <div class="header">
    <h4>ALL ROUTES</h4>
</div>
<nb-card>
  <nb-card-header>
    Existing Routes
  </nb-card-header>
  <nb-card-body>
  <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>
            #
          </th>     
          <th>
            Name
          </th>
          <th>
           Total Time
          </th>
          <th>
           Total Length
          </th>
          <th>
           Route Description
          </th>
          <th>
           Load Map
          </th>
          <th>
            Delete
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let existingroute of preExistingRoutes; let i = index;">
          <td>
            {{i+1}}
          </td>
          <td>
            {{existingroute.routeName}}
          </td>
          <td>
            {{existingroute.routeLength}}
            </td>
          <td>
            {{existingroute.totalTime}}
          </td>
          <td>
            {{existingroute.routeDesc}}
          </td>
          <td>
            <button class="btn btn-success btn-xs">LOAD ON MAP</button>
          </td>
          <td>
            <button class="btn btn-danger btn-xs" (click)="deleteRoute(existingroute.routeID)">DELETE</button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
	<div class="row mb-4">
  <div class="col-md-2">
    <a href="#" type="button" class="btn btn-danger btn-xs pull-left">CREATE AND
      DOWNLOAD GTFS </a>
  </div>
  <div class="col-md-8"></div>
  <div class="col-md-2">
    <a href="#" type="button" [routerLink]="['/pages/transit_planner_edit', 'blank']" class="btn btn-success btn-xs pull-right">BLANK
      ROUTE</a>
  </div>
</div>
<nb-card>
  <nb-card-header>
    READY GTFX FILES
  </nb-card-header>
  <nb-card-body>
  <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>
            Date
          </th>
          <th>
          Download
          </th>
          <th>
           Delete
          </th>
          <th>
            Visualize
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of gtfsFiles; let i = index">
          <td>
           {{value.createdAt}}
          </td>
          <td>
            <button class="btn btn-success btn-xs" (click)="downloadGTFS(value)">DOWNLOAD</button>
          </td>
          <td>
            <button class="btn btn-danger btn-xs">DELETE</button>
          </td>
          <td>
            <button class="btn btn-info btn-xs" (click)="openRow[i] = !openRow[i]">VISUALIZE</button>
            <a target="_blank" [href]="returnURI(val,value)" [hidden]="!openRow[i]" class="html-files col-md-12"
           *ngFor="let val of value.routes">{{val}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>