<div class="header">
  <h4>STOPS</h4>
</div>
<nb-card>
  <nb-card-header>
    Existing Stops
    <button class="btn btn-success btn-xs new-stop"  (click)="showModal(content)">CREATE NEW STOP</button>&nbsp;
  </nb-card-header>
  <nb-card-body>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Stop Code
          </th>
          <th>
            Stop Name
          </th>
          <th>
            Stop Description
          </th>
          <th>
            Stop Longitude
          </th>
          <th>
            Stop Latitude
          </th>
          <th>
            Stop Url
          </th>
          <th>
           Location Type
          </th>
          <th>
            LayBy
          </th>
          <th>
          	Shelter
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stop of stops; let i = index;">
          <td>
            {{i+1}}
          </td>
          <td>
            {{stop.stop_code}}
          </td>
          <td>
            {{stop.stop_name}}
          </td>
          <td>
            {{stop.stop_desc}}
          </td>
          <td>
            {{stop.stop_lon}}
          </td>
          <td>
            {{stop.stop_lat}}
          </td>
          <td>
            {{stop.stop_url}}
          </td>
          <td>
            {{stop.location_type}}
          </td>
          <td>
            {{stop.lay_by}}
          </td>
          <td>
            {{stop.shelter}}
          </td>
          <td>
            <button class="btn btn-success btn-xs" (click)="editModal(stop._id,contentedit)">EDIT</button>&nbsp;
            <button class="btn btn-danger btn-xs" (click)="deleteStop(stop._id)">DELETE</button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Stop</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">
                Stop Code
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" #stop_code placeholder="Stop Code">
             </div>
            </div>

            <div class="form-group">
              <label class="form-control-label">
                Stop Name
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" #stop_name placeholder="Stop Name" >
            </div>
            </div>

            <div class="form-group">
              <label class="form-control-label">
                Stop Description
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" #stop_desc placeholder="Stop Description" >
          </div>
            </div>


            <div class="form-group">
              <label class="form-control-label">
               Shelter
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" #stop_shelter placeholder="Shelter" >
             </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">
                Stop URL
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" #stop_url placeholder="Stop URL" >
          </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">
                   Location Type
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" #location_type placeholder="Location Type">
          </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">
                  LayBy
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" #stop_layby placeholder="LayBy">
          </div>
            </div>

          </div>
          <div class="col-md-12">
              <div class="form-group">
                  <label class="form-control-label">
                   Choose Location
                  </label>
                  <agm-map
                  [latitude]=20.121331
                  [longitude]=78.324120
                  [zoom]="zoom"
                  [styles]="styles"
                  [disableDefaultUI]="false"
                  [zoomControl]="false"
                  (mapClick)="mapClicked($event)"
                  class="agm-stop-map" style="height: 200px!important;">

                  <agm-marker
                      *ngFor="let m of markers; let i = index"
                      (markerClick)="clickedMarker(m.label, i)"
                      [latitude]="m.lat"
                      [longitude]="m.lng"
                      [label]="m.label"
                      [markerDraggable]="m.draggable"
                      (dragEnd)="markerDragEnd(m, $event)">
                  </agm-marker>
                  <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
                      [radius]="5000"
                      [fillColor]="'red'"
                      [circleDraggable]="true"
                      [editable]="true">
                  </agm-circle> -->

                </agm-map>
                </div>
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="newStop(stop_code.value,stop_name.value,stop_desc.value,stop_shelter.value,stop_layby.value,location_type.value,stop_url.value);">Save</button>
  </div>
</ng-template>

<ng-template #contentedit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-edit">Edit Stop</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">
                Stop Code
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" value="{{stopone.stop_code}}" #stop_code placeholder="Stop Code">
             </div>
            </div>

            <div class="form-group">
              <label class="form-control-label">
                Stop Name
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" value="{{stopone.stop_name}}" #stop_name placeholder="Stop Name" >
            </div>
            </div>

            <div class="form-group">
              <label class="form-control-label">
                Stop Description
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" value="{{stopone.stop_desc}}" #stop_desc placeholder="Stop Description" >
          </div>
            </div>


            <div class="form-group">
              <label class="form-control-label">
               Shelter
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" value="{{stopone.stop_shelter}}" #stop_shelter placeholder="Shelter" >
             </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">
                Stop URL
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" value="{{stopone.stop_url}}" #stop_url placeholder="Stop URL" >
          </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">
                   Location Type
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" value="{{stopone.location_type}}" #location_type placeholder="Location Type">
          </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">
                  LayBy
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" value="{{stopone.stop_layby}}" #stop_layby placeholder="LayBy">
          </div>
            </div>

          </div>
          <div class="col-md-12">
              <div class="form-group">
                  <label class="form-control-label">
                   Choose Location
                  </label>
                  <agm-map
                  [latitude]=20.121331
                  [longitude]=78.324120
                  [zoom]="zoom"
                  [styles]="styles"
                  [disableDefaultUI]="false"
                  [zoomControl]="false"
                  (mapClick)="mapClicked($event)"
                  class="agm-stop-map" style="height: 200px!important;">

                  <agm-marker
                      *ngFor="let m of markers; let i = index"
                      (markerClick)="clickedMarker(m.label, i)"
                      [latitude]="m.lat"
                      [longitude]="m.lng"
                      [label]="m.label"
                      [markerDraggable]="m.draggable"
                      (dragEnd)="markerDragEnd(m, $event)">
                  </agm-marker>
                  <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
                      [radius]="5000"
                      [fillColor]="'red'"
                      [circleDraggable]="true"
                      [editable]="true">
                  </agm-circle> -->

                </agm-map>
                </div>
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="updateStop(stopone._id,stop_code.value,stop_name.value,stop_desc.value,stop_shelter.value,stop_layby.value,location_type.value,stop_url.value);">Save</button>
  </div>
</ng-template>
<!-- <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination> -->
