<div class="header">
  <h4>AGENCIES</h4>
</div>
<nb-card>
  <nb-card-header>
    Existing Agencies
    <button class="btn btn-success btn-xs new-agency"  (click)="showModal(content)">CREATE NEW AGENCY</button>&nbsp;
  </nb-card-header>
  <nb-card-body>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
            <th>
            #
            </th>
          <th>
            Agency Name
          </th>
          <th>
            Agency Url
          </th>
          <th>
            Agency Language
          </th>
          <th>
            Agency Phone
          </th>
          <th>
            Agency Fare Url
          </th>
          <th>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agency of agencies; let i = index;">
          <td>
            {{i+1}}
          </td>
          <td>
            {{agency.agency_name}}
          </td>
          <td>
            {{agency.agency_url}}
          </td>
          <td>
            {{agency.agency_lang}}
          </td>
          <td>
            {{agency.agency_phone}}
          </td>
          <td>
            {{agency.agency_fare_url}}
          </td>
          <td>
            <button class="btn btn-success btn-xs" (click)="showModal(editcontent,agency._id)">EDIT</button>&nbsp;
            <button class="btn btn-danger btn-xs" (click)="deleteAgency(agency._id)">DELETE</button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
<ng-template #content let-modal>
  <div class="modal-header">
    <!-- <h4 class="modal-title" id="modal-basic-title"(click)="showModal(editcontent)">Add Agencies</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">
                Agency Fare URL
              </label>
              <input type="hidden">
              <input type="text" ngInput  #agency_fare_url class="form-control" placeholder="Agency Fare URL">
            </div>

            <div class="form-group">
              <label class="form-control-label">
                Agency Language
              </label>
              <input type="text" nbInput #agency_lang class="form-control" placeholder="Agency Language" >
            </div>

            <div class="form-group">
              <label class="form-control-label">
                Agency Phone
              </label>
              <input type="text" nbInput #agency_phone class="form-control" placeholder="Agency Phone" >
            </div>

            <div class="form-group">
              <label class="form-control-label">
               Agency URL
              </label>
              <input type="text" nbInput #agency_url class="form-control" placeholder="Agency URL" >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">
                Agency Name
              </label>
              <input type="text" nbInput #agency_name class="form-control" placeholder="Agency Name" >
            </div>
            <div class="form-group">
              <label class="form-control-label">
                   Agency Timezone
              </label>
              <input type="text" nbInput #agency_timezone class="form-control" placeholder="Agency Timezone">
            </div>
          </div>

        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="newAgency(agency_fare_url.value,agency_lang.value,agency_phone.value,agency_url.value,agency_name.value,agency_timezone.value)">Save</button>
  </div>
</ng-template>

<ng-template #editcontent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Agencies</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">
                Agency Fare URL
              </label>
              <input type="hidden">
              <input type="text" nbInput  #agency_fare_url class="form-control" value="{{agencyone.agency_url}}" placeholder="Agency Fare URL">
            </div>

            <div class="form-group">
              <label class="form-control-label">
                Agency Language
              </label>
              <input type="text" nbInput #agency_lang class="form-control" value=" {{agencyone.agency_lang}}" placeholder="Agency Language" >
            </div>

            <div class="form-group">
              <label class="form-control-label">
                Agency Phone
              </label>
              <input type="text" nbInput #agency_phone class="form-control" value="{{agencyone.agency_phone}}" placeholder="Agency Phone" >
            </div>

            <div class="form-group">
              <label class="form-control-label">
               Agency URL
              </label>
              <input type="text" nbInput #agency_url class="form-control" value="{{agencyone.agency_fare_url}}" placeholder="Agency URL" >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">
                Agency Name
              </label>
              <input type="text" nbInput #agency_name class="form-control" value="{{agencyone.agency_name}}" placeholder="Agency Name" >
            </div>
            <div class="form-group">
              <label class="form-control-label">
                   Agency Timezone
              </label>
              <input type="text" nbInput #agency_timezone class="form-control" value="{{agencyone.agency_timezone}}" placeholder="Agency Timezone">
            </div>
          </div>

        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="updateAgency(agencyone._id,agency_fare_url.value,agency_lang.value,agency_phone.value,agency_url.value,agency_name.value,agency_timezone.value)">Save</button>
  </div>
</ng-template>
