<div class="header">
    <h4>SERVICES</h4>
</div>
<nb-card>
  <nb-card-header>
    Existing Services
    <button class="btn btn-success btn-xs new-service"  (click)="showModal(content)">CREATE NEW SERVICE</button>&nbsp;
  </nb-card-header>

  <nb-card-body>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th>
            Service Name
          </th>
          <th>
            Start Date
          </th>
          <th>
            End Date
          </th>
          <th>
            Monday
          </th>
          <th>
            Tuesday
          </th>
          <th>
            Wednesday
          </th>
          <th>
            Thursday
          </th>
          <th>
            Friday
          </th>
          <th>
            Saturday
          </th>
          <th>
            Sunday
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let service of services; let i = index;">
          <td>
            {{i+1}}
          </td>
          <td>
            {{service.serviceName}}
          </td>
          <td>
            {{service.startDate}}
          </td>
          <td>
            {{service.endDate}}
          </td>
          <td>
            {{service.Monday}}
          </td>
          <td>
            {{service.Tuesday}}
          </td>
          <td>
            {{service.Wednesday}}
          </td>
          <td>
            {{service.Thursday}}
          </td>
          <td>
            {{service.Fryday}}
          </td>
          <td>
            {{service.Saturday}}
          </td>
          <td>
            {{service.Sunday}}
          </td>
          <td>
            <button class="btn btn-success btn-xs" (click)="showModal(service._id,content)">UPDATE</button>&nbsp;
            <button class="btn btn-danger btn-xs" (click)="deleteService(service._id)">DELETE</button>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
<!-- <div class="row">
  <div class="col-lg-3">
    <button class="btn btn-primary btn-xs">CREATE NEW SERVICE</button>
  </div>
</div> -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Service</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">
                Service Name
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" value="{{sservice.serviceName}}" #service_name placeholder="service name">
             </div>
            </div>

            <!-- <div class="form-group">
              <label class="form-control-label">
                Start Date
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" #start_date  placeholder="yyyy-mm-dd" >
            </div>
            </div>

            <div class="form-group">
              <label class="form-control-label">
                End Date
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" #end_date placeholder="end date" >
          </div>
            </div>       -->
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <div class="input-group">
                  <input placeholder="yyyy-mm-dd" nbInput class="input-width"   value="{{sservice.startDate}}" ngbDatepicker #d="ngbDatepicker" (dateSelect)="set_start_date($event)">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="ion ion-calendar"></i></button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <label for="startDate">End Date</label>
                  <div class="input-group">
                    <input placeholder="yyyy-mm-dd" nbInput class="input-width"    value="{{sservice.endDate}}" ngbDatepicker #b="ngbDatepicker" (dateSelect)="set_end_date($event)">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="b.toggle()" type="button"><i class="ion ion-calendar"></i></button>
                    </div>
                  </div>
                </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
                 <div class="input-group" >
                    <nb-checkbox  status="success" (change)="isMonday()" ng-true-value="true"> Monday</nb-checkbox>
               </div>
              </div>
          <div class="form-group">
             <div class="input-group">
              <nb-checkbox  status="success" (change)="isTuesday()" > Tuesday</nb-checkbox>
        </div>
          </div>
          <div class="form-group">
             <div class="input-group">
            <nb-checkbox  status="success" (change)="isWednesday()" > Wednesday</nb-checkbox>
        </div>
          </div>
          <div class="form-group">
             <div class="input-group">
             <nb-checkbox  status="success" (change)="isThursday()" >Thursday</nb-checkbox>
        </div>
          </div>
          <div class="form-group">
            <div class="input-group">
            <nb-checkbox  status="success" (change)="isFriday()">Friday</nb-checkbox>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
            <nb-checkbox status="success" (change)="isSaturday()" >Saturday</nb-checkbox>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
                <nb-checkbox status="success" (change)="isSunday()" >Sunday</nb-checkbox>
            </div>
          </div>
        </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="newService(service_name.value,d.value,b.value);">Save</button>
  </div>
</ng-template>

<!-- create new service -->

<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Create New Service</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label">
                Service Name
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control"  #service_name placeholder="service name">
             </div>
            </div>

            <!-- <div class="form-group">
              <label class="form-control-label">
                Start Date
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" #start_date  placeholder="yyyy-mm-dd" >
            </div>
            </div>

            <div class="form-group">
              <label class="form-control-label">
                End Date
              </label>
               <div class="input-group">
              <input type="text" nbInput class="form-control" #end_date placeholder="end date" >
          </div>
            </div>       -->
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <div class="input-group">
                  <input placeholder="yyyy-mm-dd" nbInput class="input-width"  ngbDatepicker #d="ngbDatepicker" (dateSelect)="set_start_date($event)">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="ion ion-calendar"></i></button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <label for="startDate">End Date</label>
                  <div class="input-group">
                    <input placeholder="yyyy-mm-dd" nbInput class="input-width"  ngbDatepicker #b="ngbDatepicker" (dateSelect)="set_end_date($event)">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="b.toggle()" type="button"><i class="ion ion-calendar"></i></button>
                    </div>
                  </div>
                </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
                 <div class="input-group" >
                    <nb-checkbox  status="success" (change)="isMonday()" ng-true-value="true"> Monday</nb-checkbox>
               </div>
              </div>
          <div class="form-group">
             <div class="input-group">
              <nb-checkbox  status="success" (change)="isTuesday()" > Tuesday</nb-checkbox>
        </div>
          </div>
          <div class="form-group">
             <div class="input-group">
            <nb-checkbox  status="success" (change)="isWednesday()" > Wednesday</nb-checkbox>
        </div>
          </div>
          <div class="form-group">
             <div class="input-group">
             <nb-checkbox  status="success" (change)="isThursday()" >Thursday</nb-checkbox>
        </div>
          </div>
          <div class="form-group">
            <div class="input-group">
            <nb-checkbox  status="success" (change)="isFriday()">Friday</nb-checkbox>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
            <nb-checkbox status="success" (change)="isSaturday()" >Saturday</nb-checkbox>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
                <nb-checkbox status="success" (change)="isSunday()" >Sunday</nb-checkbox>
            </div>
          </div>
        </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="newService(service_name.value,d.value,b.value);">Save</button>
  </div>
</ng-template>

