<div class="container">
    <div class="row">
    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-map-signs"></i>
        <span class="count-numbers">{{counts.routes_count}}</span>
        <span class="count-name">Routes</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-bus"></i>
        <span class="count-numbers">{{counts.stops_count}}</span>
        <span class="count-name">Stops</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-building"></i>
        <span class="count-numbers">{{counts.total_agency}}</span>
        <span class="count-name">Agencies</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter info">
        <i class="fa fa-globe"></i>
        <span class="count-numbers">{{counts.total_services}}</span>
        <span class="count-name">Services</span>
      </div>
    </div>
  </div>
</div>