@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
  .card-counter{
    box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
    margin: 0px;
    padding: 20px 10px;
    background-color: #fff;
    height: 110px;
    border-radius: 0px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-image: linear-gradient(to right,#ad59ff,#7659ff);
    color: #FFF;
  }

  .card-counter.danger{
    background-image: linear-gradient(to right,#ff38ac,#ff386a);
    color: #FFF;
  }  

  .card-counter.success{
    background-image: linear-gradient(to right, #00d9bf, #00d977);
    color: #FFF;
  }  

  .card-counter.info{
    background-image: linear-gradient(to right,#00b3ff,#08f);
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.5;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
    font-family: Exo;
    font-weight: 600;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 70px;
    text-transform: uppercase;
    opacity: 1;
    display: block;
    font-size: 18px;
    font-family: Exo;
    font-weight: 600;
  }
}

